/* From Creating page layouts with CSS */

@media only screen and (min-width: 800px) {
    
  /* ------Header------- */
  
  header {
    background-color: #098824;
    position: fixed;
    width: 100%;
    z-index: 10;
  } 

  header img {
    float: left; 
    height: 90px;
    padding-right: 20px;
  }

  header h1, header h2 {
    margin: 0;
    color: #fff; 
    font-weight: 300;
    font-style: italic;
  }
  header h1 { 
    padding: 8px 0 0 0; 
    font-size: 35px;
  }
  header h2{
    padding: 3px 0 0 0; 
    font-size:25px;    
  }

  nav {top: 100px;}

  .medium-4 {width: 33%;}

  .medium-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  }
}