/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* ul, nav {
    list-style: none;
} */

a:hover {
    opacity: .5;
}

/* img {
    border: none;
    border-radius: 50%;
    opacity: 40%;
} */



nav {
    z-index: 11;
}


/*-----------
HEADER
------------*/
header {
    background-color: aqua;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 10; */
    align-items: center;
    color: #fff;
    /* padding: 25px 60px 10px; */
}





.recipe-img {
    width: 250px;
    height: 250px;
}
section h3 {
    margin-bottom: 0;
}


.recipe input[type="checkbox"]:checked + img {
    border: 3px solid rgb(19, 158, 238);
  }



/*-----------
FOOTER
------------*/

footer {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

footer ul a {
    color: #fff;


} 