
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding-top: 240px;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: rgb(135, 139, 137);
}

/* ------------Header------------------ */
header {
    background-color: #098824;
    /* may need to remove */
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

header img {height: 90px;}

header h1, header h2 {
    margin: 0;
    color: #fff; 
    font-weight: 300;
    font-style: italic;
}
header h1 { 
	padding: 8px 0 0 0; 
	font-size: 30px;
}
header h2{
	padding: 3px 0 0 0; 
	font-size:18px;    
}

.column {float: left; padding: 0 2vw; margin: 0 0 .75rem 0;}
.small-head {width: 100%;}


/* GRID */
.row {clear: both;}
.limited {
    max-width: 1140px; 
    margin: auto;
}

/* ------------NAV-BAR------------------ */

.row-limited {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


button#hamburgerBtn { 
    background: none;
    border:none;
    color: #000;
    font-size: 40px;
    cursor: pointer;
    padding: 0 30px 0 2vw;
}
nav {
    background-color: #785f9c;
    position: fixed;
    top: 165px;
    z-index: 10;
    width: 100%;
}
nav ul{margin:0; padding: 0;}
nav li {list-style-type: none;}

nav a {
    display: block;
    padding: 20px 0; 
    color: #fff;
    text-align: center;
    text-decoration: none;
}

nav a:hover {background-color: rgba(0,0,0,0.2); font-size: 20px;}
nav ul.open {display: block;}
nav ul {display: none;}

/*------- Recipe Page ------ */

section h3 {
    font-size: 16px;
}

.recipe-img {
    opacity: 1;
    width: 250px;
    height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.recipe {position: relative;}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.recipe:hover .recipe-img{
    opacity: .3;
    border: 4px solid #fff;
}

.recipe:hover .middle {
    opacity: 1;
  }
  
.text {
    background-color: #098824;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

/*------- Footer ------ */

footer {
    text-align: center;
    background-color: #098824;
    font-size: 20px;
    color: #fff;
}

.copyright {
    padding-top: 10px;
}

footer div {
    display: flex;
    justify-content: center;
    font-size: 20px;  
    padding-top: 2px;
    padding-bottom: 10px; 
}

footer a {
    color: #fff;
    text-decoration: none;
    padding-left: 4px;
}

footer a:hover {
    color: red;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.meal-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border: 2px solid #000;
    padding: 2px;
    margin: 2px;
    width: 250px;
    height: 90px;
}

.wheel-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    width: 250px;
    height: 90px;
}


/* wheel */
.wheel {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: F44336;
    background-size: cover;
}

.mainbox {
    position: relative;
    width: 400px;
    height: 400px;
}






.box {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid #098824;
    overflow: hidden;
}

span {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}

.span1 {
    background-color: #ffeb3b;
    top: 190px;
    left: 190px;
}

.span2 {
    background-color: #41f368;
    top: 0;
    left: 0;
}

.span3 {
    background-color: #dd6722;
    top: 190px;
    left: 0px;
}

.span4 {
    background-color: #785f9c;
    top: 0;
    left: 190px;
}

.box2 {
    width: 100%;
    height: 100%;
    /* transform: rotate(90deg);
    transition: all ease 10s; */
}
.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: rgb(243, 134, 134);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.spin:active {
    width: 70px;
    height: 70px;
    font-size: 20px;
    animation: spin 3s infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes .box2 {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

